.button--primary {
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(39, 37, 40, .28);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    text-decoration: none;
    transition: 250ms ease-in;
}

.button--primary:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.button--secondary {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    text-decoration: none;
    transition: 250ms ease-in;
}

.button--secondary:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.button--tertiary {
    border: var(--accent-color);
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 10.8px;
    cursor: pointer;
    word-wrap: break-word;
    font-family: var(--secondary-font-family);
    padding: 13px 24px;
    font-weight: 700;
}

.button--tertiary.inactive {
    opacity: 0.9;
    color: var(--off-accent-font-color);   
}

