.button--primary {
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(39, 37, 40, .28);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    text-decoration: none;
    transition: 250ms ease-in;
}

.button--primary:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.button--secondary {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    text-decoration: none;
    transition: 250ms ease-in;
}

.button--secondary:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.button--tertiary {
    border: var(--accent-color);
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 10.8px; 
    cursor: pointer;
    word-wrap: break-word;
    font-family: var(--secondary-font-family);
    padding: 13px 24px;
    font-weight: 700;
}


.countdown {
    background-color: var(--sale-color);
    color: var(--light-color);
    height: 30px;
    font-family: var(--secondary-font-family);
    font-size: 12px;
}

.countdown__date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countdown__date-text {
    margin-right: 10px;
}

.countdown__date-item {
    font-weight: 500;
    background-color: var(--light-color);
    border-radius: 5px;
    color: var(--sale-color);
    padding: 0 10px;
}

.countdown__icon-container {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.countdown__sale-icon {
    width: 100%;
    height: 100%;
    color: var(--light-color);
}

@media (min-width: 767px) {
    .countdown {
        height: 40px;
        font-size: 20px;
    }

    .countdown__icon-container {
        width: 40px;
        height: 40px;
    }
}