.contacts {
  padding: 24px;
  display: grid;
}
.contacts__form {
  background-color: var(--background-color); 
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  width: 302px;
  margin: auto;
  }
.contacts__form-field {
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 20px 30px;
  text-align: start;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 12px;
  color: var(--main-color);
}
.contacts__form-field-height {
  height: 150px;
}
.contacts__form-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 12px;
}
.contacts__information {
  font-size: 16px;
  max-width: 100%;
  height: auto;
 }
.contacts__information-main-title {
  padding-top: 24px;
  font-weight: 600;
}
.contacts__information-text {
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 16px;
}
.contacts__information-address {
  font-weight: 500;
  margin-right: 24px;
}
.contacts__information-hours {
  font-weight: 500;
  margin-right: 46px;
}
.contacts__information-contacts {
  font-weight: 500;
}
.contacts__information-details {
  color: var(--secondary-color);
  font-size: 14px;
}
.contacts__information-tel a {
  text-decoration: none;
  color: var(--main-color);
  display: block;
  margin-left: 16px;
  font-size: 14px;
}
.contacts__information-tel a:hover {
  text-decoration: underline;
}
.contacts__map {
  margin-top: 12px;
  width: 302px;
}
@media (min-width: 460px) {
  .contacts {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
