.contacts {
  padding: 90px 24px 90px 24px;
  display: grid;
}
.contacts__form {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 40px;
}
.contacts__form-field {
  color: var(--background-color);
  padding: 20px 30px;
  margin-top: 12px;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}
.contacts__form-field-height {
  height: 150px;
}
.contacts__form-button {
  background-color: var(--accent-color);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 12px;
}
.contacts__map {
  border: none;
  height: 180px;
}
.contacts__information {
  padding-left: 20px;
}
.contacts__information-text {
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts__information-details {
  padding-top: 8px;
  padding-bottom: 10px;
  color: var(--secondary-text);
}
.contacts__information-tel a {
  text-decoration: none;
  color: var(--main-color);
}
.contacts__information-title {
  font-weight: 500;
}
@media (min-width: 640px) {
  .contacts {
    grid-template-columns: 1fr 1fr;
  }
}
