.contacts {
    padding: 90px 24px 90px 24px;
}

.contacts__form {
    background-color: var(--background-color);
}

.contacts__form-button {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1rf;
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
}

.contacts__button {
    padding: 20px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 200px;
    text-align: center;
    margin-top: 12px;
    cursor: text;
    border-radius: 10px;
    border: none;
}

.contacts__button-color {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 40px;

}