@import url(global.css);

.customer__reviews__container{
    background-color: var(--background-color);
    
}
.customer__reviews__container .customer__reviews__title{
    font-size: 30px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.customers__reviews__text__content {
    font-size: 18px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .customer__card{
    background-color: var(--background-color-cards);

}
.customer__card__photo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
   
}


@media(min-width: 640px) {
   
    .customer__cards__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
  }
}
@media(min-width:960px) {
    .customer__cards__wrapper{
        grid-template-columns: 1fr 1fr 1fr;
      }
}