.customer__reviews__container{
    background-color: var(--background-color);
    padding-bottom: 70px;

} .customer__reviews__title{
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
   
}

.customers__reviews__text__content {
    font-size: 18px;
    color: var(--main-color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.customer__card__photo{
    border-radius: 50%;
    text-align: center;
    height: 70px;
    width: 70px;
    margin: 20px;
   
}.customer__card{
    background-color: var(--background-color-cards);
    border: 1px solid var(--background-color-cards);

}

.customer__card__name{
    font-size: 22px;
    margin: 20px;
}
.customer__card__location, .customer__card__date{

    font-size: 14px;
    font-weight:inherit;
    margin: 20px;
    color: var(--customer-location-color);

}
.customer__card__message{
    font-size: 16px;
    color: var(--customer-message-color);
    margin: 20px;
}

.customer__carousel-btn-prev, .customer__carousel-btn-next {
height: 20px;
width: 20px;
display:flex;

}

.carousel__customer__review__inner{
    display: flex;
   justify-content: space-between;
    
}


.customer__carousel-slide{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    

}

.customer__carousel-btn-prev, .customer__carousel-btn-next{
border: none;
 background-color: var(--background-color);
}


@media(min-width: 640px){
    .carousel__customer__review__inner{
        display: flex;
        gap: 30px;
    }
    }
    
    /*@media(min-width: 960px){
        .carousel__customer__review__inner{
            
        }
        }*/
    
       /* @media(min-width: 960px){
            .carousel__customer__review__inner{
                
            }
            }*/