.furniture-offers {
  display: flex;
}

.furniture-offers__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 95px 0 50px;
}

.furniture-offers__interior {
  width: calc(50% - 30px);
  background-size: cover;
  padding: 60px 30px;
  margin: 0 15px;
}

.furniture-offers__interior>* {
  margin-top: 20px;
}

.furniture-offers__interior-white {
  background-image: url(../img/offer-white.webp);
}

.furniture-offers__interior-black {
  background-image: url(../img/offer-black.webp);
}

.furniture-offers__bring-bright {
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 500;
}

.furniture-offers__discount {
  font-size: 22px;
  color: #333333;
  font-weight: 500;
}

.furniture-offers__set-bright {
  font-size: 16px;
  color: #707070;
}

.furniture-offers__color-trend {
  font-size: 14px;
  color: #a9a9a9;
}

.furniture-offers__simple-color {
  font-size: 22px;
  color: #fff;
}

.furniture-offers__top-models {
  font-size: 16px;
  color: #fff;
}

.furniture-offers__button {
  width: 145px;
  height: 42px;
  font-size: 11px;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .furniture-offers__wrapper {
    flex-direction: column;
  }

  .furniture-offers__interior {
    width: 100%;
    margin: 15px 0;
  }
}