.furniture-collection__sale {
  font-size: 14px;
  color: var(--sale-color);
  margin-bottom: 12px;
  text-align: center;
}
.furniture-collection__iteam {
  margin: 10px;
}
.furniture-collection__photo {
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 400;
  height: 185px;
  width: 272px;
}
.furniture-collection__title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.furniture-collection__discount {
  color: var(--accent-color);
  font-weight: bold;
}
.furniture-colection__button {
  margin-top: 35px;
  text-decoration: none;
  color: var(--main-color);
  font-size: 12px;
  line-height: 12px;
  width: 255px;
  height: 55px;
  font-weight: bold;
  text-transform: uppercase;
}
.furniture-colection__side-arrow {
  margin-left: 10px;
  margin-bottom: -8px;
  height: 24px;
  width: 24px;
  text-align: center;
}
@media (min-width: 540px) {
  .furniture-collection__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.furniture-collection {
  padding: 90px 24px 90px 24px;
  justify-content: center;
}
