.off__title {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
}

.off__description {
    display: block;
    color: var(--main-color);
}

.off__finds-container__find__find-image {
    height: 272px;
    width: 272px;
}

.off__finds-container__find {
    display: inline-block;

}

.off__finds-container__find .out-of-stock {
    object-fit: contain;
    height: 91%;
}

.off__finds-container__find__out-of-stock {
    background: #ffddd9;
    color: #cc3833;

}

.off__brands-carousel li {
    height: 150px;
    display: inline-flex;
}

.off__finds-container__tabs {
    border-bottom: 2px solid #c0bfbf;
    margin-bottom: 30px;
    padding-bottom: 2px;
}

.off__finds-container__tabs>span {
    padding: 15px 20px;
    display: inline-block;
    color: var(--secondary-color);
    cursor: pointer;
}

.off__finds-container__tabs>span.active {
    border-bottom: 3px solid var(--accent-color);
    color: var(--accent-color);
}

.off__finds-container__tab {
    display: none;
}

.off__finds-container__tab.active {
    display: block;
}

@media (min-width: 540px) {
    .off__finds-container__tabs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}