.ourtopbrands{
  display: flex;
  width: 100%;
  max-width: 1700px;
  background-color: #fff;
   display: block;
  margin: 30px 0;
}
.container__kuko{
  width: 100%;
  max-width: 1500px;
  height: 422px;
padding: 70px;
}
.kuko__header{
  width: 50%;

}
.img__kuko{
  width: 50%;
  position: absolute;
  left: 20%;
}