<div class="about-us">
    <h2>About Us</h2>

    <p>We sell designer furniture, lamps & decor across the USA</p>

    <div class="about-us__accordion accordion">
        <div class="accordion__item">
            <button class="accordion__button">How to make an order?</button>
            <div class="accordion__content">
                <p>Specify the name of the preferred product in our contact form and provide all the needed details. Our
                    manager will contact you soon after checking the stock status.</p>
            </div>
        </div>
        <div class="accordion__item">
            <button class="accordion__button">Dispatch v Delivery</button>
            <div class="accordion__content">
                <p>On the product page, you can see a dispatch estimate e.g. 'within 2-3 weeks'. Dispatch is when we
                    send the item to our delivery partner, not the date it is delivered to your door. If you need more
                    accurate delivery times, check it with the manager.</p>
            </div>
        </div>
        <div class="accordion__item">
            <button class="accordion__button">How to make an order?</button>
            <div class="accordion__content">
                <p>If you won't like the product, you can return it to us within 14 days for a full refund. Simply
                    contact us and we will assist you with your return. Remember that you'll need to disassemble the
                    item and repackage it, in order for us to collect the product and return it to the warehouse.</p>
            </div>
        </div>
    </div>
    <div class="about__us__content">
        <img width="500" src="img/about-bedroom.webp" alt="bedroom">

        <svg width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
            x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"
            style="max-width:100%" height="100%">
            <path
                d="M74.437,53.959c1.589-1.589,1.589-4.166,0-5.755c-0.416-0.416-40.529-25.479-40.766-25.598l-0.03-0.019l-0.002,0.001  c-0.539-0.263-1.136-0.424-1.775-0.424c-2.015,0-3.676,1.468-4.001,3.391L27.794,75.93c0,2.247,1.822,4.069,4.069,4.069  c0.635,0,1.228-0.158,1.763-0.417L74.437,53.959z"
                style="" fill="currentColor"></path>
        </svg>
    </div>
</div>