<div class="bestsellers">
    <h2 class="bestsellers__title">Best-selling Products</h2>
    <p class="bestsellers__description">Our customer's faves of the week</p>
    <div class="bestsellers__list">
        <article class="bestsellers__item">
            <div class="bestsellers__item-image">
                <a href="#"><img src="img/gray-armchair.png" alt="Gray Armchair"></a>
            </div>
            <a class="bestsellers__item-link" href="#">Lord armchair, Miedel Home</a>
            <p class="bestsellers__item-price">120,00USD</p>
            <button class="button--primary bestsellers">Order Now</button>
        </article>
        <article class="bestsellers__item">
            <div class="bestsellers__item-image">
                <a href="#"><img src="img/green-chair.png" alt="Green Chair"></a>
            </div>
            <a class="bestsellers__item-link" href="#">Ultimate Green Chair, XODO</a>
            <p class="bestsellers__item-price">90,00USD</p>
            <button class="button--primary bestsellers">Order Now</button>
        </article>
        <article class="bestsellers__item">
            <div class="bestsellers__item-image">
                <a href="#"><img src="img/pink-armchair.png" alt="Pink Armchair"></a>
            </div>
            <a class="bestsellers__item-link" href="#">Valetta armchair, ZIX studio</a>
            <p class="bestsellers__item-price">310,00USD</p>
            <button class="button--primary bestsellers">Order Now</button>
        </article>
    </div>
</div>