<div class="bestsellers">
    <h2>Best-selling Products</h2>
    <p class="bestsellers__description">Our customer's faves of the week</p>
    <div class="bestsellers__list">
        <article class="bestsellers__productCard1">
            <div class="bestsellers__productCard1--image">
                <a href="#"><img src="img/gray-armchair.png" alt="Gray Armchair"></a>
            </div>
            <a class="bestsellers__productCard1--link" href="#">Lord armchair, Miedel Home</a>
            <p class="bestsellers__productCard1--price">120,00USD</p>
            <button class="bestsellers__productCard1--order">Order Now</button>
        </article>
        <article class="bestsellers__productCard2">
            <div class="bestsellers__productCard2--image">
                <a href="#"><img src="img/green-chair.png" alt="Green Chair"></a>
            </div>
            <a class="bestsellers__productCard2--link" href="#">Ultimate Green Chair, XODO</a>
            <p class="bestsellers__productCard2--price">90,00USD</p>
            <button class="bestsellers__productCard2--order">Order Now</button>
        </article>
        <article class="bestsellers__productCard3">
            <div class="bestsellers__productCard3--image">
                <a href="#"><img src="img/pink-armchair.png" alt="Pink Armchair"></a>
            </div>
            <a class="bestsellers__productCard3--link" href="#">Valetta armchair, ZIX studio</a>
            <p class="bestsellers__productCard3--price">310,00USD</p>
            <button class="bestsellers__productCard3--order">Order Now</button>
        </article>
    </div>
</div>