<div class="contacts">
    <form action="https://formspree.io/f/xknaykkk" class="contacts__form">
        <input class="contacts__button" type="text" placeholder="Enter your phone number*" required>
        <input class="contacts__button" type="email" placeholder="Enter your e-mail*" required>
        <input class="contacts__button" type="text" placeholder="Enter chosen products*" required>
        <input class="contacts__button" type="text" placeholder="Enter quanity*" required>
        <input class="contacts__button" type="message" placeholder="Type your message">
        <button type="submit">Submit</button>
    </form>
    <div class="contacts__information">
        <h2>Contacts</h2>
        <p class="contacts__text">We are always happy to chat with you. Contact us in any convenient way and we will
            answer all your questions.
        </p>
        <h3>Address</h3>
        <p class="contacts__detalles"> 93-40 Queens Blvd, Flushing,
            NY 11374, USA</p>
        <h3>Hours</h3>
        <p class="contacts__detalles">Monday - Saturday: 11 AM - 9 PM
            Sunday: 11 AM - 7 PM</p>
        <h3> Contacts</h3>
        <a href="tel: +12345678900 ">+1 (234) 567 89 00</a>
        <a href="mailto: sofa@email.com">sofa@email.com</a>
    </div>
    <div class="contacts__map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82369.97054538233!2d23.8397741317749!3d49.82250780610644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7c431bbba23%3A0x39c1c6490cf7e470!2z0JzQtdCx0LvRlg!5e0!3m2!1suk!2ses!4v1683654038875!5m2!1suk!2ses"
            width="300" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>