<div>
    <div class="contacts-form">
        <ul>
            <li><input type="text" placeholder="Enter your phone number*" required></li>
            <li><input type="text" placeholder="Enter your e-mail*" required></li>
            <li><input type="text" placeholder="Enter chosen products*" required></li>
            <li><input type="text" placeholder="Enter quanity*" required></li>
            <li><input type="text" placeholder="Type your message"></li>
        </ul>
        <button class="button-submit">Submit</button>
    </div>

    <div class="contacts-information">
        <h1>Contacts</h1>
        <p>We are always happy to chat with you. Contact us in any convenient way and we will answer all your questions.
        </p>
        <h2>Address</h2>
        <p> 93-40 Queens Blvd, Flushing,
            NY 11374, USA</p>
        <h2>Hours</h2>
        <p>Monday - Saturday: 11 AM - 9 PM
            Sunday: 11 AM - 7 PM</p>
        <h2> Contacts</h2>
        <a href="tel: +12345678900 ">+1 (234) 567 89 00</a>
        <a href="mailto: sofa@email.com">sofa@email.com</a>
    </div>

    <div class="contacts-map">

    </div>
</div>