<div class="contacts" id="contacts">
  <form action="https://formspree.io/f/xknaykkk" class="contacts__form">
    <input
      class="contacts__form-field"
      type="text"
      placeholder="Enter your full name*"
      required
    />
    <input
      class="contacts__form-field"
      type="text"
      placeholder="Enter your phone number*"
      required
    />
    <input
      class="contacts__form-field"
      type="email"
      placeholder="Enter your e-mail*"
      required
    />
    <input
      class="contacts__form-field"
      type="text"
      placeholder="Enter chosen products*"
      required
    />
    <input
      class="contacts__form-field"
      type="text"
      placeholder="Enter quanity*"
      required
    />
    <input
      class="contacts__form-field contacts__form-field-height"
      type="message"
      placeholder="Type your message"
    />
    <button class="contacts__form-field contacts__form-button" type="submit">
      Submit
    </button>
  </form>
  <div class="contacts__information">
    <h2 class="contacts__information-main-title">Contacts</h2>
    <p class="contacts__information-text">
      We are always happy to chat with you. Contact us in any convenient way and
      we will answer all your questions.
    </p>
    <span class="contacts__information-container">
      <h3 class="contacts__information-address">Address</h3>
      <p class="contacts__information-details">
        93-40 Queens Blvd, Flushing, NY 11374, USA
      </p>
    </span>
    <span class="contacts__information-container">
      <h3 class="contacts__information-hours">Hours</h3>
      <p class="contacts__information-details">
        Monday - Saturday: 11 AM - 9 PM Sunday: 11 AM - 7 PM
      </p>
    </span>
    <span class="contacts__information-container">
      <h3 class="contacts__information-contacts">Contacts</h3>
      <div class="contacts__information-tel">
        <a href="tel: +12345678900">+1 (234) 567 89 00</a>
        <a href="mailto: sofa@email.com">sofa@email.com</a>
      </div>
    </span>
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.4145515912755!2d-73.86828582505814!3d40.73090283645996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25e482aec40b1%3A0xf0e427633bfec4a0!2zOTMtNDAgUXVlZW5zIEJsdmQsIFF1ZWVucywgTlkgMTEzNzQsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2ses!4v1685520184512!5m2!1suk!2ses"
      width="300"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
