<section class="customer__reviews">
    <div class="customer__reviews__container">
    <p class="customer__reviews__title">What Our Customers Say</p>
    <p class="customers__reviews__text__content">We love your feedback on our products!</p>
     <div class="carousel__customer__cards__container">
            <ul class="carousel__track">
                <li class="carousel__slide__customer__card__1"> 
                    <div class="customer__card">
                        <img class="customer__card__photo" src="img/judy.jpeg" alt="photo customer Judy">
                        <p class="customer__card__name">Judy Peterson</p>
                        <p class="customer__card__location">New York</p>
                        <p class="customer__card__message">I'm very pleased with our new sofa! It fits perfectly into the interior. The assemblage of the furniture was super fast!</p>
                        <p class="customer__card__date">October 28, 2018</p>
                    </div>
              </li> 
                <li class="carousel__slide__customer__card__2">
                    <div class="customer__card">
                        <img class="customer__card__photo" src="img/kyle.jpeg"  alt="photo customer Kyle">
                        <p class="customer__card__name">Kyle Hudson</p>
                        <p class="customer__card__location">Houston</p>
                        <p class="customer__card__message">Thank you for helping me choose new armchairs in the living room. They look great and fit perfectly into my interior. </p>
                        <p class="customer__card__date">June 13, 2019</p>
                    </div>
             </li> 
                <li class="carousel__slide__customer__card__3">
                    <div class="customer__card">
                        <img class="customer__card__photo" src="img/hanna.jpeg"  alt="photo customer Hanna">
                        <p class="customer__card__name">Hanna Levy</p>
                        <p class="customer__card__location">Boston</p>
                        <p class="customer__card__message">Next-day delivery surprised me a lot! I thought I would have to wait for weeks! Thank you for the quick processing of my order!</p>
                        <p class="customer__card__date">October 04, 2019</p>
                    </div>
                </li> 
                <li class="carousel__slide__customer__card__4">
                    <div class="customer__card">
                        <img class="customer__card__photo" src="img/jim.jpeg"  alt="photo customer Jim">
                        <p class="customer__card__name">Jim Mockeen</p>
                        <p class="customer__card__location">Chicago</p>
                        <p class="customer__card__message">I not only found the perfect sofa at a reasonable price but also stylish lamps which were exactly what I wanted. Thank you, SOFA!</p>
                        <p class="customer__card__date">January 18, 2020</p>
                    </div>
           </li> 
                <li class="carousel__slide__customer__card__5">
                    <div class="customer__card">
                        <img class="customer__card__photo" src="img/karen.jpeg" alt="photo customer Karen">
                        <p class="customer__card__name">Karen Morning</p>
                        <p class="customer__card__location">Washington</p>
                        <p class="customer__card__message">My order arrived really quickly and I was amazed by the quality - PERFECT. I would and have recommended SOFA to others.</p>
                        <p class="customer__card__date">February 03, 2020</p>
                    </div>
              </li>
            </ul>
</div>
<button class="carousel__button customer__carousel__button--left" type="button">←</button>
<button class="carousel__button customer__carousel__button--right" type="button">→</button>
<div class="customer__cards__carousel__nav">
    <button class="carousel__indicator carousel__indicator--active" type="button" data-slide-to="0"></button>
    <button class="carousel__indicator" type="button" data-slide-to="1"></button>
    <button class="carousel__indicator" type="button" data-slide-to="2"></button>
    <button class="carousel__indicator" type="button" data-slide-to="3"></button>
    <button class="carousel__indicator" type="button" data-slide-to="4"></button>
</div> 
</div>
</section>




