<div class="customer-reviews" id="customer-reviews">
    <h1>What Our Customers Say</h1>
    <p>We love your feedback on our products!</p>

    <div class="carousel">
    <div class="customer-cards">
        <ul class="carousel__track">
            <li class="carousel__slide">

        <div class="customer-Judy">
            <div class="photo-Judy ">
                <img src="img/judy.jpeg" alt="photo customer Judy">
                <h3 class="customer-name">Judy Peterson</h3>
                <p class="customer-location">New York</p>
                <p class="customer-text">I'm very pleased with our new sofa! It fits perfectly into the interior. The assemblage of the furniture was super fast! </p>
                <p class="customer-date"> October 28, 2018 </p>
            </div>
</li>
        </div>

        <li class="carousel__slide">

<p class="customer-date"> October 28, 2018 </p>
        </div>

        <div class="customer-Kyle">
            <div class="photo-Kyle ">
                <img src="img/kyle.jpeg" width="120"  alt="photo customer Kyle">

                <h3 class="customer-name">Kyle Hudson</h3>
                <p class="customer-location">Houston</p>
                <p class="customer-text">Thank you for helping me choose new armchairs in the living room. They look great and fit perfectly into my interior. </p>
            </div>
<p class="customer-date"> June 13, 2019 </p>
        </div>


    </li>

    <li class="carousel__slide">

        <div class="customer-Hanna">
            <div class="photo-Hanna">
                <img src="img/hanna.jpeg" width="120" alt="photo customer Hanna">

                <h3 class="customer-name">Hanna Levy</h3>
                <p class="customer-location">Boston</p>
                <p class="customer-text">Next-day delivery surprised me a lot! I thought I would have to wait for weeks! Thank you for the quick processing of my order!</p>
            </div>

<p class="customer-date"> October 04, 2019 </p>
        </div>

    </li>

    <li class="carousel__slide">
        <div class="customer-Jim">
            <div class="photo-Jim">
                <img src="img/jim.jpeg" width="120" alt="photo customer Jim">

                <h3 class="customer-name">Jim Mockeen</h3>
                <p class="customer-location">Chicago</p>
                <p class="customer-text">I not only found the perfect sofa at a reasonable price but also stylish lamps which were exactly what I wanted. Thank you, SOFA!</p>
            </div>
<p class="customer-date">January 18, 2020</p>
        </div>
    </li>

    <li class="carousel__slide">
        <div class="customer-Karen">
            <div class="photo-Karen">
                <img src="img/karen.jpeg" alt="photo customer Karen">
                <h3 class="customer-name">Karen Morning</h3>
                <p class="customer-location">Washington</p>
                <p class="customer-text">My order arrived really quickly and I was amazed by the quality - PERFECT. I would and have recommended SOFA to others.</p>
            </div>
<p class="customer-date">February 03, 2020</p>
        </div>
    </li>
</ul>
    </div>
    
    <button class="carousel__button carousel__button--left" type="button">←</button>
    <button class="carousel__button carousel__button--right" type="button">→</button>

    <div class="carousel__nav">
      <button class="carousel__indicator carousel__indicator--active" type="button" data-slide-to="0"></button>
      <button class="carousel__indicator" type="button" data-slide-to="1"></button>
      <button class="carousel__indicator" type="button" data-slide-to="2"></button>
    </div>


    </div>
</div>


    </div>
</div>



    </div>
</div>

