<div class="customer-reviews">
    <h1>What Our Customers Say</h1>
    <p>We love your feedback on our products!</p>
    <div class="customer-cards">

        <div class="customer-Judy">
            <div class="photo-Judy ">
                <img src="/workspaces/1009-team-02/img/Judy_Petterston.jpeg" alt="photo customer Judy">
                <h3 class="customer-name">Judy Peterson</h3>
                <p class="customer-location">New York</p>
                <p class="customer-text">I'm very pleased with our new sofa! It fits perfectly into the interior. The assemblage of the furniture was super fast! </p>
</div>
<p class="customer-date"> October 28, 2018 </p>
        </div>

        <div class="customer-Kyle">
            <div class="photo-Kyle ">
                <img src="/workspaces/1009-team-02/img/Kyli Hadson.jpeg" alt="photo customer Kyle">
                <h3 class="customer-name">Kyle Hudson</h3>
                <p class="customer-location">Houston</p>
                <p class="customer-text">Thank you for helping me choose new armchairs in the living room. They look great and fit perfectly into my interior. </p>
            </div>
<p class="customer-date"> June 13, 2019 </p>
        </div>

        <div class="customer-Hanna">
            <div class="photo-Hanna">
                <img src="/workspaces/1009-team-02/img/Hanna_Levy.jpeg" alt="photo customer Hanna">
                <h3 class="customer-name">Hanna Levy</h3>
                <p class="customer-location">Boston</p>
                <p class="customer-text">Next-day delivery surprised me a lot! I thought I would have to wait for weeks! Thank you for the quick processing of my order!</p>
            </div>
<p class="customer-date"> October 04, 2019 </p>
        </div>

        <div class="customer-Jim">
            <div class="photo-Jim">
                <img src="/workspaces/1009-team-02/img/Jim_Mockeen.jpeg" alt="photo customer Jim">
                <h3 class="customer-name">Jim Mockeen</h3>
                <p class="customer-location">Chicago</p>
                <p class="customer-text">I not only found the perfect sofa at a reasonable price but also stylish lamps which were exactly what I wanted. Thank you, SOFA!</p>
            </div>
<p class="customer-date">January 18, 2020</p>
        </div>

        <div class="customer-Karen">
            <div class="photo-Karen">
                <img src="/workspaces/1009-team-02/img/Karen.jpeg" alt="photo customer Karen">
                <h3 class="customer-name">Karen Morning</h3>
                <p class="customer-location">Washington</p>
                <p class="customer-text">My order arrived really quickly and I was amazed by the quality - PERFECT. I would and have recommended SOFA to others.</p>
            </div>
<p class="customer-date">February 03, 2020</p>
        </div>

    </div>
</div>