<footer class="footer">
      <div class="footer__wrapper-container">
        <div class="footer__section">
            <div class="footer__section-about-us">
                <a href="#">
                    <img src="./img/interiorX-logo.png" class="footer_logo" alt="interiorX "
                  /></a>
                  <p class="footer__section-text">
                    We sell designer furniture, lamps & decor across the USA. We offer
                    the best collections by American and European designers.
                  </p>
            </div>
         
        </div>
        <div class="footer__section">
          <nav class="footer__links">
            <ul class="footer__links">
              <li><a href="#" class="footer__menu-link">Promotions</a></li>
              <li><a href="#" class="footer__menu-link">2020 Collection</a></li>
              <li><a href="#" class="footer__menu-link">Blog</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__section">
          <nav class="footer__links">
            <ul class="footer__links">
              <li><a href="#" class="footer__menu-link">Best-selling</a></li>
              <li><a href="#" class="footer__menu-link">Testimonials</a></li>
              <li><a href="#" class="footer__menu-link">Contact us</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__section">
          <div class="footer__section-follow-us">
            <p class="footer__section-text footer__section-follow-us-text">Follow Us</p>
            <div class="footer_social-icons-container">
              <a href="#">
                <img
                  class="footer_logo-icon"
                  src="./img/facebook-logo.png"
                  alt="facebook-logo"
              /></a>
              <a href="#">
                <img
                  class="footer_logo-icon"
                  src="./img/twitter-logo.png"
                  alt="twitter-logo"
              /></a>
              <a href="#"
                ><img
                  class="footer_logo-icon"
                  src="./img/linkedin-logo.png"
                  alt="twitter-logo"
              /></a>
            </div>
          </div>
        </div>
        <div class="footer__section">
          <div class="footer__section-contacts">
            <p class="footer__section-text footer__section-text-promo ">Join our newsletter for $30 off</p>
              <label for="user-email"></label>
              <input
                type="email"
                placeholder="Email*"
                class="footer_form-field-lable"
                id="user-email"
                required
              />
              <button class="footer__button">Subcribe</button>
            
          </div>
        </div>
      </div>
      </::after>
      <div class="decorative-line"></div>
      <div class=".footer__horizontal-flow-selection">
        <span class="footer__w-text-content footer__w-text-content-left">© Created by</span>
        <span class="footer__w-text-content footer__w-text-content-right">All rights Reserved</span>
      </div>
    </footer>
  </body>
</html>
