<footer class="footer">
    <div class="footer__container">
        <div class="footer__logo-link-container">
            <a href="#" class="footer__logo-link">
                <img src="https://raw.githubusercontent.com/koldovsky/1009-team-02/main/img/interiorX-logo.png"" alt="interiorX" class="footer_logo"></a>
            <p class="footer__logo-link-text">
                We sell designer furniture, lamps & decor across the USA. We offer the best collections by American and
                European designers.
            </p>
        </div>
        <div class="footer__menu-column">
            <ul class="footer__links">
                <li> <a href="#" class="footer__menu-link">Promotions</a> </li>
                <li> <a href="#" class="footer__menu-link">Best-selling</a> </li>
                <li><a href="#" class="footer__menu-link">2020 Collection</a> </li>
            </ul>
            <ul class="footer__links">
                <li><a href="#" class="footer__menu-link">Testimonials</a></li>
                <li><a href="#" class="footer__menu-link">Blog</a></li>
                <li><a href="#" class="footer__menu-link">Contact us</a></li>
            </ul>
        </div>
        <div class="footer__menu-social-networks">
            <h3>Follow Us</h3>
        </div>
        <div class="footer__button-container">
            <h3 class="footer__button-container-promo">Join our newsletter for $30 off</h3>
            <label for="user-email" class="form-field-lable">Email*</label>
            <input type="email" class="form-field-input" name="email" id="user-email" required />
        </div>
        <button class="footer__button">Subcribe</button>
    </div>
    </div>

    </div>
</footer>
