<header class="header container">
    <nav class="header__nav">
        <div class="header__logo-container">
            <a href="#" class="header__logo-link">
                <img src="img/interiorX-logo.png" alt="InteriorX" class="header__logo" width="150">
            </a>
        </div>
        <div class="header__menu">
            <a href="#" class="header__menu-link">Promotions</a>
            <a href="#" class="header__menu-link">Best-selling</a>
            <a href="#" class="header__menu-link">2020 Colection</a>
            <a href="#" class="header__menu-link">Testimonials</a>
            <a href="#" class="header__menu-link">Blog</a>
            <a href="
        <div class="header__button-container">
            <a href="#" class="button-secondary">SHOP NOW</a>
        </div>
    </nav>
    <div class="header__hero">
        <div class="header__background-container">
            <img class="header__background" src="img/hero-background.webp" alt="Stylish armchair and floor lamp"
                width="500">
        </div>
        <h1 class="header__title"><span class="text-color--green">Furniture</span> for Home & Office</h1>
        <p class="header__subtitle">
            500+ models of cushioned furniture, lamps and accessories.
        </p>
        <a href="#" class="header__button button--primary">
            BEST-SELLING PRODUCTS
            <span class="side-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" x="0px" y="0px" style="width:30px">
                    <defs fill="currentColor">
                        <style>
                            .cls-1 {
                                fill-rule: evenodd;
                            }
                        </style>
                    </defs>
                    <path data-name="28" class="cls-1"
                        d="M34,18l-5-4v3H26v2h3v3ZM24,19H20V17h4v2Zm-6,0H14V17h4v2Zm-6,0H8V17h4v2ZM4,16a2,2,0,1,1-2,2A2,2,0,0,1,4,16Z"
                        fill="currentColor"></path>
                </svg>
            </span>
        </a>
    </div>
</header>