<div class="our-fave-finds" id="our-fave-finds">
  <h2 class="off__title">Our Fave Finds</h2>
  <p class="off__description">The best designer products from the 2023 collections.</p>
  <div class="off__finds-container">
    <div class="off__finds-container__tabs"> 
      <span tab="armchairs" class="active">Armchairs</span>
      <span tab="lamps">Lamps</span>
      <span tab="tables">Tables</span>
    </div>
    <div class="off__finds-container__tabs-container">
      <div tab="armchairs" class="off__finds-container__tab active">
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/fusion-armchair-lexx.png" alt="yellow armchair" class="off__finds-container__find-image">
          </div>
          <div>Fusion armchair, LEXX</div>
          <div>320,00USD</div>
          <div><button class="button--tertiary"><span>ORDER NOW</span></button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/aurora-armchair-mds.png" alt="beige armchair"></div>
          <div>Aurora armchair, MDS</div>
          <div>210,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/cloud-armchair-dix.png" alt="blue armchair"></div>
          <div>Cloud armchair, DIX</div>
          <div>150,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div class="off__finds-container__find__find-image">
            <img class="out-of-stock" src="img/jeanine-armchair-kuko.png" alt="gray armchair">
            <div class="off__finds-container__find__out-of-stock">Out of stock</div>
          </div>
          
          <div>Jeanine armchair, KUKO</div>
          <div>210,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
      </div>
      <div tab="lamps" class="off__finds-container__tab">
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/3-piece-minimal-arm.png" alt="white lamp" class="off__finds-container__find-image">
          </div>
          <div>3-piece Minimal, ARM</div>
          <div>110,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/red-drops-kuko.png" alt="red lamp"></div>
          <div>Red Drops, KUKO</div>
          <div>210,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/delar-uni-studio.png" alt="perforated lamp"></div>
          <div>Delar, Uni Studio</div>
          <div>350,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/bubbles-udion.png" alt="bubbles lamp"></div>
          <div>Bubbles, Udion</div>
          <div>410,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
      </div>
      <div tab="tables" class="off__finds-container__tab">
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/upi-table-landstrom.png" alt="small white table" class="off__finds-container__find-image">
          </div>
          <div>Upi table, Landstrom</div>
          <div>90,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/monica-table-orro.png" alt="small golden table"></div>
          <div>Monica table, Orro</div>
          <div>110,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/snitch-cabinet-arm.png" alt="small bedside cabinet"></div>
          <div>Snitch cabinet, ARM</div>
          <div>100,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
          <div><img class="off__finds-container__find__find-image" src="img/hugo-table-kuko-studio.png" alt="Stylish side table"></div>
          <div>Hugo table, KUKO studio</div>
          <div>99,00USD</div>
          <div><button class="button--tertiary">ORDER NOW</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="off__brands-carousel">
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide">
          <img src="img/idea-logo.png" alt="Idea-logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/artvan-logo.png" alt="ArtVan logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/ikea-logo.png" alt="IKEA logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/vitra-logo.png" alt="VitrA logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/walmart-logo.png" alt="Walmart logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/kronheims-logo.png" alt="Kronheims logo" class="carousel__image">
        </li>
        <li class="carousel__slide">
          <img src="img/seamam's-logo.png" alt="Seamam's logo" class="carousel__image">
        </li>
      </ul>
    </div>
    <button class="carousel__button carousel__button--left" type="button">←</button>
    <button class="carousel__button carousel__button--right" type="button">→</button>
    <div class="carousel__nav">
      <button class="carousel__indicator carousel__indicator--active" type="button" data-slide-to="0"></button>
      <button class="carousel__indicator" type="button" data-slide-to="1"></button>
      <button class="carousel__indicator" type="button" data-slide-to="7"></button>
    </div>
  </div>
</div>

</div>