<div class="our-fave-finds" id="our-fave-finds">
  <div class="off__flex-container">
    <h2 class="off__title">Our Fave Finds</h2>
    <p class="off__description">The best designer products from the 2023 collections.</p>
    <div class="off__finds-container">
      <div class="off__finds-container__tabs">
        <span tab="armchairs" class="active">Armchairs</span>
        <span tab="lamps">Lamps</span>
        <span tab="tables">Tables</span>
      </div>
      <div class="off__finds-container__tabs-container">
        <div tab="armchairs" class="off__finds-container__tab active">
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/fusion-armchair-lexx.png"
                alt="yellow armchair" class="off__finds-container__find-image">
            </div>
            <div>Fusion armchair, LEXX</div>
            <div class="off__find__price">320,00USD</div>
            <div><button class="button--tertiary"><span>ORDER NOW</span></button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/aurora-armchair-mds.png"
                alt="beige armchair"></div>
            <div>Aurora armchair, MDS</div>
            <div class="off__find__price">210,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/cloud-armchair-dix.png"
                alt="blue armchair"></div>
            <div>Cloud armchair, DIX</div>
            <div class="off__find__price">150,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div class="off__finds-container__find__find-image">
              <img class="out-of-stock" src="img/jeanine-armchair-kuko.png" alt="gray armchair">
              <div class="off__finds-container__find__out-of-stock">Out of stock</div>
            </div>

            <div>Jeanine armchair, KUKO</div>
            <div class="off__find__price">210,00USD</div>
            <div><button class="button--tertiary inactive">ORDER NOW</button></div>
          </div>
        </div>
        <div tab="lamps" class="off__finds-container__tab">
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/3-piece-minimal-arm.png" alt="white lamp"
                class="off__finds-container__find-image">
            </div>
            <div>3-piece Minimal, ARM</div>
            <div class="off__find__price">110,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/red-drops-kuko.png" alt="red lamp"></div>
            <div>Red Drops, KUKO</div>
            <div class="off__find__price">210,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/delar-uni-studio.png"
                alt="perforated lamp"></div>
            <div>Delar, Uni Studio</div>
            <div class="off__find__price">350,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/bubbles-udion.png" alt="bubbles lamp">
            </div>
            <div>Bubbles, Udion</div>
            <div class="off__find__price">410,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
        </div>
        <div tab="tables" class="off__finds-container__tab">
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/upi-table-landstrom.png"
                alt="small white table" class="off__finds-container__find-image">
            </div>
            <div>Upi table, Landstrom</div>
            <div class="off__find__price">90,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/monica-table-orro.png"
                alt="small golden table"></div>
            <div>Monica table, Orro</div>
            <div class="off__find__price">110,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/snitch-cabinet-arm.png"
                alt="small bedside cabinet"></div>
            <div>Snitch cabinet, ARM</div>
            <div class="off__find__price">100,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
          <div class="off__finds-container__find">
            <div><img class="off__finds-container__find__find-image" src="img/hugo-table-kuko-studio.png"
                alt="Stylish side table"></div>
            <div>Hugo table, KUKO studio</div>
            <div class="off__find__price">99,00USD</div>
            <div><button class="button--tertiary">ORDER NOW</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="off__brands-carousel">
      <div class="off__carousel__track-container">
        <div class="off__carousel__track-container__left-arrow">
          <svg class="arrow-svg_1j4" viewBox="0 0 30 30">
            <defs>
              <path
                d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                id="a-1653484000118"></path>
            </defs>
            <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1653484000118"></use>
          </svg>
        </div>
        <div class="off__carousel__track-container__right-arrow">
          <svg viewBox="0 0 30 30">
            <defs>
              <path
                d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                id="a-1653484000118"></path>
            </defs>
            <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1653484000118"></use>
          </svg>
        </div>
        <div class="off__carousel__track">
          <span class="off__carousel__slide">
            <img src="img/idea-logo.png" alt="Idea-logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/artvan-logo.png" alt="ArtVan logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/ikea-logo.png" alt="IKEA logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/vitra-logo.png" alt="VitrA logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/walmart-logo.png" alt="Walmart logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/kronheims-logo.png" alt="Kronheims logo" class="carousel__image">
          </span>
          <span class="off__carousel__slide">
            <img src="img/seamam's-logo.png" alt="Seamam's logo" class="carousel__image">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


</div>