<div class="our-fave-finds" id="our-fave-finds">
    <h2 class="off__title">Our Fave Finds</h2>
    <p class="off__description">The best designer products from the 2023 collections.</p>
    <div class="off__tabs-container">
        <span class="off__tabs-container__selected">Armchairs</span>
        <span>Lamps</span>
        <span>Tables</span>
    </div>
    <div class="off__finds-container">
        <div class="off__finds-container__find">
            <div><img src="img/fusion-armchair-lexx.png" alt="yellow armchair"></div>
            <div>Fusion armchair, LEXX</div>
            <div>320,00USD</div>
            <div><button class="off_button">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
            <div><img src="img/aurora-armchair-mds.png" alt="beige armchair"></div>
            <div>Aurora armchair, MDS</div>
            <div>210,00USD</div>
            <div><button class="off_button">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
            <div><img src="img/cloud-armchair-dix.png" alt="blue armchair"></div>
            <div>Cloud armchair, DIX</div>
            <div>150,00USD</div>
            <div><button class="off_button">ORDER NOW</button></div>
        </div>
        <div class="off__finds-container__find">
            <div><img src="img/jeanine-armchair-kuko.png" alt="gray armchair"></div>
            <div>Out of stock</div>
            <div>Jeanine armchair, KUKO</div>
            <div>210,00USD</div>
            <div><button class="off_button">ORDER NOW</button></div>
        </div>
    </div>
    <div class="carousel">
        <div class="carousel__track-container">
            <ul class="carousel__track">
              <li class="carousel__slide">
                <img src="img/idea-logo.png" alt="Idea-logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/artvan-logo.png" alt="ArtVan logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/ikea-logo.png" alt="IKEA logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/vitra-logo.png" alt="VitrA logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/walmart-logo.png" alt="Walmart logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/kronheims-logo.png" alt="Kronheims logo" class="carousel__image">
              </li>
              <li class="carousel__slide">
                <img src="img/seamam's-logo.png" alt="Seamam's logo" class="carousel__image">
              </li>
            </ul>
          </div>
      
          <button class="carousel__button carousel__button--left" type="button">←</button>
          <button class="carousel__button carousel__button--right" type="button">→</button>
      
          <div class="carousel__nav">
            <button class="carousel__indicator carousel__indicator--active" type="button" data-slide-to="0"></button>
            <button class="carousel__indicator" type="button" data-slide-to="1"></button>
            <button class="carousel__indicator" type="button" data-slide-to="7"></button>
          </div>
        </div>
    </div>

</div>