<section class="ourtopbrands">
    <div class="container__kuko">
        <div class="kuko__header">
            <p class="kuko__suptitle">Our Top Brands</p>
            <p class="kuko__title">Colorful Collections by KUKO</p>
            <div class="kuko__text">
                <p>KUKO is one of the new-wave furniture manufacturers. They are located in California, USA. Inspired by the sun and ocean, they create unique products bringing joy to your home or office. Our store presents the best KUKO sofas and armchairs from the collections of 2018-2020.</p>
            </div>
            <a href="#" class="ourtopbrands__btn">
                SHOP KUKO
                
              </a>
              <div class="img__kuko">
                <img src="img/kuko.jpg" alt="KUKO">                
                </div>
        </div>
        
    </div>
    <div class="container__landstorm">
        <div class="landstorm__header">
            <p class="landstorm__suptitle">Our Top Brands</p>
            <p class="title">Classics by Landstrom Design</p>
            <div class="landstorm__text">
                <p>Landstrom Design, founded in Copenhagen, creates universal pieces of cushioned furniture. Its sofas and armchairs look good in any interior styles, from minimalism to shabby chic. Such furniture will never go out of style and will catch the eye of your guests.</p>
            </div>
            <img src="img/landstrom.jpg" alt="Landstrom">
            <a href="#">SHOP LANDSTORM
                
            </a>
        </div>
    </div>
</section>

