<section class="ourtopbrands">
    <div class="container__kuko">
        <div class="kuko__header">
            <div class="kuko__suptitle"><p>Our Top Brands</p></div>
            <div class="kuko__title"><p>Colorful Collections by KUKO</p></div>
            <div class="kuko__text">
                <p>KUKO is one of the new-wave furniture manufacturers. They are located in California, USA. Inspired by the sun and ocean, they create unique products bringing joy to your home or office. Our store presents the best KUKO sofas and armchairs from the collections of 2018-2020.</p>
            </div>
            <a href="#bestsellers" class="header__button button--primary">
                SHOP KUKO
                <span class="header__side-arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" x="0px" y="0px">
                    <defs fill="currentColor">
                      <style>
                        .cls-1 {
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path data-name="28" class="cls-1"
                      d="M34,18l-5-4v3H26v2h3v3ZM24,19H20V17h4v2Zm-6,0H14V17h4v2Zm-6,0H8V17h4v2ZM4,16a2,2,0,1,1-2,2A2,2,0,0,1,4,16Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </a>
           
        </div>
     <div class="img__kuko">
            <img src="img/kuko.jpg" alt="KUKO" >                
     </div>
    </div>
    <div class="container__landstorm">
       <div class="landstorm__content"></div>
        <div class="img__landstorm">
            <img src="img/landstrom.jpg" alt="Landstrom">
        </div>
        <div class="landstorm__header">
            <div class="landstorm__suptitle">Our Top Brands</div>
            <div class="landstorm__title">Classics by Landstrom Design</div>
            <div class="landstorm__text">
                <p>Landstrom Design, founded in Copenhagen, creates universal pieces of cushioned furniture. Its sofas and armchairs look good in any interior styles, from minimalism to shabby chic. Such furniture will never go out of style and will catch the eye of your guests.</p>
            </div>
            
            <a href="#bestsellers" class="header__button button--primary">
                SHOP LANDSTORM
                <span class="header__side-arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" x="0px" y="0px">
                    <defs fill="currentColor">
                      <style>
                        .cls-1 {
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path data-name="28" class="cls-1"
                      d="M34,18l-5-4v3H26v2h3v3ZM24,19H20V17h4v2Zm-6,0H14V17h4v2Zm-6,0H8V17h4v2ZM4,16a2,2,0,1,1-2,2A2,2,0,0,1,4,16Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </a>
        </div>
      </div>
    </div>
</section>

